.container {
  width: 200px;
  height: 30px;
  padding: 5px 10px 5px 35px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--main-main50, #eef9f6);
  border-radius: 10px;
}
