.container {
  width: 260px;
  position: relative;
  top: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.lineWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.title {
  width: 60px;
  color: #8f95b2;
}

.answer {
  color: #474d66;
}

@media (max-width: 1200px) {
  .lineWrapper {
    gap: 10px;
  }

  .line {
    gap: 10px;
  }
}
