.container {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 1.4rem;
  font-weight: 400;
  color: #474d66;
}

.input {
  width: 100%;
  height: 45px;
  padding: 14px 20px;
  background-color: #f7f7fa;
  font-size: 1.4rem;
  border-radius: 10px;
  outline: none;
}

.input:focus {
  border: 1px solid #4cbfa4;
  background-color: #fff;
}

/* @media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .input {
    max-width: 100%;
  }
} */
