.button {
  width: 400px;
  height: 45px;
  padding: 13px 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  border: none;
}

.primary {
  background: var(--main-main500, #4cbfa4);
  border-radius: 10px;
}

.secondary {
  border: 1px solid var(--main-main500, #4cbfa4);
  background-color: transparent;
  color: #4cbfa4;
  border-radius: 10px;
}

.littleButton {
  width: 120px;
  height: 40px;
  padding: 11px 20px;
}

@media (max-width: 768px) {
  .button {
    width: 335px;
    padding: 13px 140px;
  }

  .littleButton {
    width: 120px;
    padding: 11px 20px;
  }
}
