.button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  /* font-size: 1.4rem; */
  font-weight: 600;
  color: #fff;
  border: none;
}

.primary {
  background-color: #4cbfa4;
  border-radius: 10px;
}

.secondary {
  border: 1px solid #4cbfa4;
  background-color: transparent;
  color: #4cbfa4;
  border-radius: 10px;
}

.gray {
  border-radius: 15px;
  background-color: #474d66;
}

.white {
  border-radius: 15px;
  background-color: #fff;
  color: #474d66;
}

.XS {
  width: 89px;
  height: 40px;
}

.S {
  width: 120px;
  height: 40px;
}

.M {
  font-size: 2rem;
  font-weight: 700;
  width: 170px;
  height: 59px;
}

.ML {
  width: 300px;
  height: 45px;
}

.L {
  width: 400px;
  height: 45px;
}

@media (max-width: 768px) {
}
