.container {
  height: 30px;
  display: flex;
  align-items: center;
  background: #eef9f6;
  color: #4cbfa4;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    color: 1.2rem;
    width: 100%;
  }
}
