.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}

.contentContainer {
  max-width: 1060px;
  height: 100%;
  max-height: 641px;
  margin-top: 60px;
  padding: 40px 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 10px;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 3.8rem;
  font-weight: 600;
  color: #474d66;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons {
  display: none;
}

.imageWrapper {
  width: 500px;
  height: 400px;
  margin-bottom: 10px;
  display: block;
}

.image {
  height: 100% !important;
  object-fit: contain;
}

.text {
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 160%;
  color: #474d66;
}

.content {
  display: flex;
  justify-content: space-between;
  color: #8f95b2;
}

.user {
  display: flex;
  gap: 10px;
}

.like {
  display: flex;
  justify-content: space-between;
}

.link {
  width: 140px;
  height: 45px;
  border: 1px solid #4cbfa4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #4cbfa4;
  text-align: center;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 60px;
    gap: 40px;
  }

  .contentContainer {
    /* max-width: 624px; */
    height: 100%;
    max-height: 693px;
    margin-top: 40px;
  }

  .imageWrapper {
    width: 500px;
    height: 300px;
    margin-bottom: 10px;
    display: block;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 20px;
  }

  .contentContainer {
    /* max-width: 335px; */
    height: 100%;
    max-height: 530px;
    margin-top: 40px;
  }

  .title {
    font-size: 2.6;
  }

  .text {
    font-size: 1.4rem;
  }

  .user {
    font-size: 1.2rem;
  }

  .imageWrapper {
    width: 295px;
    height: 177px;
  }

  .buttons {
    display: none;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
