.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1060px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1060px;
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.articleList {
  margin-top: 10px;
  max-width: 1060px;
  width: 100%;
}

.top {
  display: flex;
  font-weight: bold;
  color: #8f95b2;
  font-size: 1.6rem;
  justify-content: center;
}

.id {
  max-width: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.articleTitle {
  max-width: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.articleWriter {
  max-width: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.like {
  max-width: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.day {
  max-width: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 624px;
  }

  .body {
    max-width: 624px;
  }

  .articleList {
    max-width: 624px;
  }

  .searchBar {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 40px;
  }

  .body {
    gap: 0px;
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .searchBar {
    max-width: 704px;
    width: 100%;
  }
}
