.container {
  width: 36px;
  height: 36px;
}

@media (max-width: 1200px) {
  .container {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 17px;
    height: 17px;
  }
}
