.skeleton {
  background-color: #e0e0e0;
  animation: pulse 1.5s infinite;
  border-radius: 4px;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.skeletonContainer {
  margin-top: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skeletonSearch {
  max-width: 860px;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: #f7f7fa;
  margin-bottom: 20px;
}

.skeletonWikiBoxContainer {
  width: 100%;
  max-width: 860px;
  margin-top: 60px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skeletonWikiBox {
  width: 100%;
  height: 145px;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .skeletonSearch {
    max-width: 704px;
  }

  .skeletonWikiBoxContainer {
    max-width: 704px;
  }
}

@media (max-width: 768px) {
  .skeletonWikiBoxContainer {
    margin-bottom: 40px;
  }

  .skeletonWikiBox {
    flex-direction: column;
    width: 100%;
    height: 150px;
  }
}
