.container {
  width: 385px;
  height: 45px;
  display: flex;
  gap: 10px;
  background-color: transparent;
  justify-content: center;
  margin-bottom: 120px;
}

.button {
  width: 45px;
  height: 45px;
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  font-size: 1.8rem;
  color: #8f95b2;
  border-radius: 10px;
}

.button:visited:link::after {
  color: #4cbfa4;
}

@media (max-width: 768px) {
  .container {
    width: 320px;
    height: 40px;
    margin-bottom: 60px;
  }

  .button {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}
