.skeleton {
  background-color: #e0e0e0;
  animation: pulse 1.5s infinite;
  border-radius: 4px;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.container {
  display: flex;
  gap: 80px;
  margin: 0 auto;
  justify-content: center;
}

.skeletontextEditor {
  max-width: 1120px;
  width: 1120px;
  height: 60px;
  border-radius: 10px;
  margin-top: 40px;
}

.skeletonSideBarContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.skeletonSideBar {
  width: 350px;
  height: 850px;
  border-radius: 10px;
}
