.container {
  display: flex;
  gap: 80px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  position: relative;
}

.info {
  max-width: 1120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 18px 30px;
  top: 32px;
  z-index: 10;
}

.name {
  color: #474d66;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

@media (max-width: 1200px) {
  .sideBar {
    display: none;
  }
}