.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
  max-width: 1060px;
}

.header {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: #474d66;
  font-size: 3.8rem;
  font-weight: 600;
}

.card {
  display: flex;
  gap: 20px;
}

.search {
  display: flex;
  gap: 20px;
}

.articleList {
  max-width: 1060px;
  width: 100%;
}

.id {
  max-width: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.articleTitle {
  max-width: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.articleWriter {
  max-width: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.like {
  max-width: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.day {
  max-width: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.top {
  color: #8f95b2;
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1060px;
  width: 100%;
}
