.container {
  margin-top: 80px;
}

.name {
  color: #474d66;
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.nodata {
  width: 860px;
  height: 192px;
  border-radius: 10px;
  background: #f7f7fa;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text {
  color: #8f95b2;
  font-size: 1.6rem;
  line-height: 160%; /* 25.6px */
}
